/*===========================================*/
/*IDs*/
#googleMap img {
max-width: none;
max-height: none;
}

#sort-bar{
  height: 620px;
}
#sidebar{
  position: fixed;
}

/*===========================================*/
/*Classes*/

.border-right{
  border-right: 1px solid black;
}


.products{
  width: 20%;
  float: left;
  padding: 10px;
  margin: 22px;
  border: solid 1px gray;
}

.fullHeight{
  height: 100%;
}

.vertical-align{
  padding: 5.5%;
}

.products img {
    max-width: 100%;
    border: 1px solid black;
}

.fullImage {
    width: 25%;
    margin-bottom: 10px;
    border: 1px solid black;
    float: left;
    margin-left: 25%;
}

.inline{
  padding-top: 5%;
  padding-left: 10px;
  width: 50%;
  float: left;
  text-align: left;
}

.fa{
  color: #e67e22;
}

/*===========================================*/
/*Elements*/
