/*===========================================*/
/*IDs*/
#googleMap img {
max-width: none;
max-height: none;
}

/*===========================================*/
/*Classes*/
/*.block {
height: -webkit-calc(100vh);
height: -moz-calc(100vh);
height: calc(100vh);
}*/

.border-right{
  border-right: 1px solid black;
}


.products{
  width: 20%;
  float: left;
  padding: 10px;
  margin: 22px;
  border: solid 1px gray;
  height: 400px;
}

.fullHeight{
  height: 100%;
}

.footer{
  height: 363px;
}

.products img {
    max-width: 100%;
    border: 1px solid black;
}

.fullImage {
    width: 25%;
    margin-bottom: 10px;
    border: 1px solid black;
    float: left;
    margin-left: 25%;
}

.inline{
  padding-left: 10px;
  width: 50%;
  float: left;
  text-align: left;
}

.fa{
  color: #e67e22;
}

/*===========================================*/
/*Elements*/
